---
layout: default
title: Tags
permalink: /tag/
---

<div class="tags tag-list">

  <h1 class="page-heading">Tags</h1>

  {% assign sorted_tags = site.tags | sort %}
  {% assign date_format = site.date_format | default: "%b %-d, %Y" %}

  {% for site_tag in sorted_tags %}
    {% assign tag = site_tag | first %}
    {% assign posts = site_tag | last %}

  <h2 id="{{ tag | slugify }}">{{ tag }}</h2>
  <ul>
  {% for post in posts %}
    {% if post.tags contains tag %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <time title="{{ post.date }}">{{ post.date | date: date_format  }}</time>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endfor %}

</div>
