
{% comment %}
  https://staticman.net/docs/#step-3-hook-up-your-forms
{% endcomment %}

{% assign SM = site.data.staticman %}
{% assign redirect_url = page.path | replace: '_posts/', SM.x-redirectBase | replace: '.md', '.html' %}
<div class="staticman-comments">
<hr />

<form id="comment-form" method="post" action="{{ SM.x-formAction }}">
  <h2> Add a comment </h2>
  <input name="options[redirect]" type="hidden" value="{{ redirect_url }}" data-X-value="{{ site.baseurl }}/"/>
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}"/>
  <p><label>Name <input name="fields[name]" placeholder="Jo Bloggs" required minlength=3 maxlength=24 /></label>
  <p><label>Email <input name="fields[email]" type="email" placeholder="jo@bloggs.net" required minlength=7 maxlength=32 /></label>
  <p><label>Message <textarea name="fields[message]" required minlength=8 maxlength=200 ></textarea></label>

  <p><button type="submit">Add comment</button>
</form>


<div id="comments">
  {% assign comments = site.data.comments | default: SM.x-defaultComment | sort %}
  <h2> Comments </h2>

  <ol>
    {% for comments in comment reversed %}
      {% assign commentData = comment[1] %}
      <li class="comment">
        <p>By:   {{ commentData.name }}</p>
        <p>Date: {{ commentData.date }}</p>
        <blockquote>{{ commentData.message }}</blockquote>
      </li>
    {% endfor %}
  </ol>
</div>

</div>
