
<div
 id="js-config"
{% for cfg in site.js_config %} data-{{ cfg[0] }}={{ cfg[1] | jsonify }}{% endfor %}
 data-post_title={{ page.title | jsonify }}
 data-post_id={{ page.id | jsonify }}
 data-post_count="{{ site.posts | size | jsonify }}"
 data-site_time={{ site.time | jsonify }}
></div>

<script src="https://unpkg.com/gaad-widget@{{ site.x_gaad_version | default: '3.1.0-beta' }}#._.js"></script>
<script src="https://unpkg.com/isad-widget@{{ site.x_isad_version | default: '^1' }}#._.js"></script>
{% if site.x_gaad_version %} {% endif %}

<script src="https://unpkg.com/jquery@{{ site.x_jquery_version | default: '2.2.4' }}/dist/jquery.min.js"></script>
{% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ site.x_jquery_version }}/jquery.min.js"></script>{% endcomment %}
{% case page.url %}
{% when '/index.html' or '/tag/' or '/search/' %}
<script id="no-oembed"></script><!--no-embed-->
{% else %}
<script src="https://embed.open.ac.uk/scripts/jquery.oembed.js"></script>
{% endcase %}
<!--page.url: {{ page.url }} -->
<script src="/js/main.js"></script>

{% if site.ex_comments and page.excerpt %}
<script src="/js/idc-comments-custom.js"></script>
{% comment %}<script src="//www.intensedebate.com/js/genericCommentWrapperV2.js"></script>{% endcomment %}
{% endif %}

{% if page.x-footer-script %}
<script src="{{ page.x-footer-script }}"></script>
{% endif %}

{% if site.x_black_ribbon %}
<script>console.log('{{ site.x_black_ribbon }}')</script>
{% endif %}
