{% assign PKG = site.data.package %}
{% assign PEER = site.data.package.peerDependencies %}

<a id="github-describe" data-github-describe-repo="nfreear/nfreear.github.io"></a>

<script data-X-src="https://unpkg.com/github-describe@{{ PEER.github-describe }}/index.js"></script>

<div
 id="js-config"
{% for cfg in site.js_config %} data-{{ cfg[0] }}={{ cfg[1] | jsonify }}{% endfor %}
 data-post_title={{ page.title | jsonify }}
 data-post_id={{ page.id | jsonify }}
 data-post_count="{{ site.posts | size | jsonify }}"
 data-rtt={{ site.egg | jsonify }}
 data-site_time={{ site.time | jsonify }}
></div>

<script src="https://unpkg.com/cookie-notice@{{ PEER.cookie-notice }}/dist/cookie.notice.min.js"
  data-cookie-notice='{ "debug": true }' ></script>
<script src="https://unpkg.com/gaad-widget@{{ PEER.gaad-widget | default: '^3' }}/dist/gaad-widget.min.js"
  data-gaad-widget='{ "days_before": 20, "debug": true }' ></script>
<script src="https://unpkg.com/isad-widget@{{ PEER.isad-widget }}#._.js"></script>
{% if site.x_gaad_version %} {% endif %}

<script src="https://unpkg.com/jquery@{{ PEER.jquery | default: '2.2.4' }}/dist/jquery.min.js"></script>
{% comment %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ PEER.jquery }}/jquery.min.js"></script>{% endcomment %}
{% case page.url %}
{% when '/index.html' or '/tag/' or '/search/' %}
<script id="no-oembed"></script><!--no-embed-->
{% else %}
<script src="{{ PEER.jquery-oembed }}"></script>
{% endcase %}
<!--page.url: {{ page.url }} -->
<script src="/js/main.js"></script>
<script src="/js/comment.js"></script>

{% if site.ex_comments and page.excerpt %}
<script src="/js/idc-comments-custom.js"></script>
{% comment %}<script src="//www.intensedebate.com/js/genericCommentWrapperV2.js"></script>{% endcomment %}
{% endif %}

{% if page.x-footer-script %}
<script src="{{ page.x-footer-script }}"></script>
{% endif %}

{% if site.x_black_ribbon %}
<script>console.log('{{ site.x_black_ribbon }}')</script>
{% endif %}

<!--<pre>jQuery peer: {{ PEER.jquery }}</pre>-->
