{% assign PKG = site.data.package %}
{% assign PEER = site.data.package.peerDependencies %}

<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% include meta-security.html %}
  {% comment %}{% include head-redirect.html %}{% endcomment %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="sitemap" href="{{ "/sitemap.xml" | prepend: site.baseurl }}" type="application/xml">
  <meta name="google-site-verification" content="aQpZHJpekYdSfnJK75V3ptYoHd8vGpFhfs90_lVGqoE" />

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }} {% unless page.title %}| {{ site.description | strip_html | truncate: 160 }}{% endunless %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncatewords: site.ex_excerpt_truncate }}{% else %}{{ site.description | strip_html }}{% endif %}">

  {% include meta.html %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://unpkg.com/html5shiv@{{ PEER.html5shiv }}/dist/html5shiv.min.js"></script>
    <script src="https://unpkg.com/respond.js@{{ PEER['respond.js'] | default '^1' }}/dest/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="search" href="{{ "/opensearch.xml" | prepend: site.baseurl | prepend: site.url }}" type="application/opensearchdescription+xml" title="{{ site.title }} search" />

  {% if page.x-style-url %}
  <link href="{{ page.x-style-url }}" rel="stylesheet"/>
  {% endif %}
  {% if page.x-style %}
  <style>{{ page.x-style }}</style>
  {% endif %}
  {% if page.x-image-width %}
  <style> .post-content img, .post-content a img { max-width: {{ page.x-image-width }}px; margin: 1.2rem auto; } </style>
  {% endif %}
</head>
