<meta http-equiv="Content-Security-Policy" content=
"default-src 'none';
script-src 'self' 'unsafe-eval' https://unpkg.com/leaflet@1.0.3/ https://unpkg.com/geojson-popup@2.0.0-beta https://unpkg.com/gaad-widget@3.1.0-beta https://unpkg.com/jquery@2.2.4/ https://embed.open.ac.uk/scripts/ https://www.google-analytics.com/analytics.js http://intensedebate.com/js/ https://www.intensedebate.com/idc/ https://intensedebate.com/comment/ ;
style-src 'self' 'unsafe-inline' https://unpkg.com/leaflet@1.0.3/ https://www.intensedebate.com/themes/;
frame-src 'self' https://www.intensedebate.com/empty.php;
img-src 'self' www.google-analytics.com https://c1.staticflickr.com/ https://core.atbar.org/resources/img/launcher.png https://licensebuttons.net/l/by-sa/4.0/88x31.png http://stantonburytheatre.co.uk/media/ https://www.intensedebate.com/ https://gravatar.com/avatar/ ; "
/>
