{% if page.og-image %}

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ page.og-desc }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_GB" />
<meta property="article:author" content="https://www.facebook.com/nickfreear" />
<meta property="article:published_time" content="{{ page.date }}" />
{% comment %}<meta property="article:section" content="Magazine" />{% endcomment %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ page.og-image }}" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nfreear">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.og-desc }}">
<meta name="twitter:creator" content="@nfreear">
<meta name="twitter:image:src" content="{{ page.og-image }}">
<meta name="twitter:image:alt" content="{{ page.og-image-alt }}" />
<meta name="twitter:domain" content="nick.freear.org.uk">

{% comment %}
  https://cards-dev.twitter.com/validator
  https://developers.facebook.com/tools/debug/
  https://github.com/niallkennedy/open-graph-protocol-examples
{% endcomment %}

{% endif %}
