/*!
 * Custom CSS.
 */


/* Accessibility [a11y].
 */
.sr-only {
    position: absolute;
    top: -1000px;
}

a:focus { text-decoration: underline; }


.site-nav .menu-icon svg path {
    fill: #ee7600;  //darkorange; //#a22; //Was: #151515;
}

img[ src *= "open-media-player/badge.svg" ] {
    width: 240px; height: 140px;
    display: block;
    margin: 0 auto;
}

.post-content img[ src *= "shields.io" ] {
    width: 120px; height: 30px; // x 1.5;
}
.X-site-footer img[ src *= "shields.io" ] {
    width: 96px; height: 24px; // x 1.2;
}

iframe {
    display: block;
    margin: 1em auto;
    border: 6px solid #eee;
    border-radius: 5px;
}
iframe:hover, iframe:focus {
    border-color: #ff6d00;  // darkorange;
    transition: .7s;
}
iframe[ src *= "books.google" ] {
    width: 500px;
    height: 500px;
}

/* Open Media Player embeds / Bootstrap embeds.
*/
.embed-rsp.youtube,
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-rsp.youtube iframe,
.embed-responsive iframe,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}
.embed-rsp.youtube,
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

a:hover img {
    outline: 2px solid darkorange;
    outline-offset: 4px;
    transition: .7s;
}

.site-footer .text i {
    display: block;
    margin: .5em 0;
}
.site-footer .text i a, a[ rel = license], a[ href *= mit-license ] {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.ex-site-message {
    font-size: 1.06em;
    padding: .7em 0;
    background: #fff8f8;
    border-bottom: 1px solid #ccc;
}

.site-nav .ex-custom-nav > * {
    margin-left: 20px;
}

hr {
    //background: none;
    border: 1px solid #ccc;
    margin: 1em;
}

pre,
code {
    background-color: #f8f8ff;
    border-color: #ccc;
}

/*
 * End custom CSS.
 */
