/*!
 * Custom CSS.
 */

.site-header .black-ribbon.left {
  display: inline-block;
  float: left;
  margin: 8px 5px 0 0;
}

h1,h2,h3,h4,h5,
.site-title,
.footer-col-wrapper {
    color: #333;
}

.post-content {
    li {
        margin-bottom: 5px; //$spacing-unit; //30px;
    }
}

.wrapper .isad-widget-js {
  // margin: 0 0 1.5em;
  margin: 0 auto 1.5em;
  max-width: 34em;
}

/* Accessibility [a11y].
 */
a {
  color: #2474dc; // Was: #2a7ae2;
}
.sr-only {
    position: absolute;
    top: -1000px;
}
a.sr-only:focus {
    top: 2px;
    left: 0;
    display: inline-block;
    padding: 3px 9px;
    margin: 0;
    border: 2px solid darkorange;
    border-radius: 5px;
    background: #f8f8f8;
}

body a:focus {
    text-decoration: underline;
    color: navy;
}

abbr {
    display: inline-block;
    padding: 0 2px;
    border-bottom: 1px dotted gray;
    cursor: help;
}

.comment-ifr {
  background: transparent;
  border: 1px solid #eee;
  margin: 0;
  height: 500px;
  width: 100%;
}

noscript,
.comments-disabled {
    font-size: $small-font-size;
    text-align: center;
    padding: 3px;
    background: $message-background;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.site-nav .menu-icon svg path {
    fill: #ee7600;  //darkorange; //#a22; //Was: #151515;
}

.post-list a.more:after {
    content: "\2026";  //&hellip;
}

img[ src *= "open-media-player/badge.svg" ] {
    width: 240px; height: 140px;
    display: block;
    margin: 0 auto;
}

.post-content img[ src *= "shields.io" ] {
    // width: 120px; height: 30px; // x 1.5;
}
.X-site-footer img[ src *= "shields.io" ] {
    width: 96px; height: 24px; // x 1.2;
}

.big_me {
    text-align: center;
    font-size: 1.35em;
}
.redirect {
    background: #f8f8f8;
    padding: 1.4em 0;
    margin: 0;
}
.x-me {
    display: block;
    padding: 7px; //7px 0;
    //margin: 1.2em 0;
    margin: 23px 0;
    background: $message-background;
    border: 2px solid #ddd;
    border-radius: 6px;

    em {
        display: inline-block;
        margin-left: 3px;
        //font-style: normal;
        border-bottom: 2px solid transparent;
    }
}
.x-me:hover {
    text-decoration: none;
}
.x-me:hover em {
    //text-decoration: underline;
    border-color: gray;
    transition: $transition;
}

//[ href ^= javascript ] {outline:1px solid red}
//[ role = button ] {outline: 1px solid green}

.ajax-loader,
#x-idc-comments-loading span,
#x-idc-comments-loading,
iframe {
    display: block;
    font-size: 1.1em;
    text-align: center;
    min-height: 90px;
    margin: 1em auto;
    border: 6px solid #eee;
    border-radius: 5px;
    //background: url(http://throbber.net/loader-large.gif);
    background: #f6f6f6 url(/assets/loader-large.gif) no-repeat center;
    background-size: contain;
}
#x-idc-comments-loading {
    background-image: none;
}
#IDCommentsPostTitle,
#idc-container {
    display: none;
}
#IDCommentNewThreadText {
  width: 99% !important;
}

.ajax-loader {
  border: 1px solid #ddd;
}

.no-js-local #x-idc-comments-loading span {
    background: none;
}

iframe[ src *= "books.google" ] {
    width: 500px;
    height: 500px;
}
iframe[ src *= openhub ] {
    background: none;
    border-width: 1px;
    width: 346px;
    height: 210px;
}
iframe[ src *= bbc ] {
    height: 400px;
    width: 500px;
}
iframe[ src *= youtu ] {
    height: 315px;
    width: 560px;
}
iframe:hover, iframe:focus, a.x-me:hover {
    border-color: #ff6d00;  // darkorange;
    transition: $transition;
}

.simple-speak-ifr {
    border-width: 2px;
    height: 75px;
    overflow: hidden;
    padding: 1px;
    width: 99%;
}

/* Open Media Player embeds / Bootstrap embeds.
*/
.embed-rsp.youtube,
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  //overflow: hidden;
  margin: 1em 0 2em;
}
.embed-rsp.youtube iframe,
.embed-responsive iframe,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //border: 0;
  margin: 0;
}
.embed-rsp.youtube,
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.post-content a img {
    outline: 2px solid #ccc;
    outline-offset: 5px;
    display: block;
    margin: 1.3em auto;
    border-radius: 4px;
}
a:hover img {
    outline: 2px solid darkorange;
    outline-offset: 5px;
    transition: $transition;
}

img[ src *= flickr ] {
    max-width: 92%;
    max-height: 460px;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
}
.XX-flickr-embed-frame {
//  display: none;
}
.post-content a [ src *= _MEDIUM_ ] {
    width: 65%;
    margin: 1.8em auto;
}

.site-footer .text i {
    display: block;
    margin: .5em 0;
}
.site-footer .text i a, a[ rel = license], a[ href *= mit-license ] {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.ex-site-message {
    font-size: 1.06em;
    padding: .6em 0;
    background: $message-background;
    border-bottom: 1px solid #ccc;

    &:hover {
        background: #fff3f3;
        border-color: #999;
        transition: .7s;
    }
}

.site-nav .page-link:not(:first-child),
.site-nav a.atbar-launch,
.site-nav .ex-custom-nav > * {
    display: inline-block;
    //Was: margin-left: 20px;
    margin-left: 11px;
}

a.atbar-launch img {
    //img, orig: 93 x 38 px;
    //img: 82 x 33.5 px;
    width: 82px;
}


hr {
    //background: none;
    border: 1px solid #ccc;
    margin: 1em;
}

pre,
code {
    background-color: #f8f8ff;
    border-color: #ccc;
    padding: 5px;
}
p > code, li > code {
    padding: 2px;
    border-color: #ddd;
    font-size: 1em;
}

.post-content table {
    margin: 1em 0;
    width: 100%;
    border: 1px solid #ccc;
}
.post-content table td {
    padding: 8px;
}

.post-content {
    input,
    button {
        font-size: 1.05em;
        padding: 3px 12px;
    }
    button {
        cursor: pointer;
        margin-right: 8px;

        i {
            font-style: normal;
        }
    }
    input/*#id-simple-speak */ {
        min-width: 18em;
        text-align: center;
    }
    input[ type = submit ] {
        min-width: auto;
    }
    form {
        margin: 1em 0;
    }
}

.post-content .demo {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 1.2em 0;
    padding: .7em;
}

#cookieNotice {
  font-size: .95rem !important;
}

/* IntenseDebate accessibility [Bug: #3][a11y]
*/
body #idc-container h3 {
    font-size: 1.4em; //22px;
}
body #idc-container h3[ aria-level ] {
    font-size: 1.8em;
}
body #idc-container textarea.idc-text_noresize {
    font-size: 1.1em;
    color: #111;
    max-width: 99%;
}

/*
 * End custom CSS.
 */
