/*!
 * Custom CSS.
 */

h1,h2,h3,h4,h5, .site-title {
    color: #333;
}

/* Accessibility [a11y].
 */
.sr-only {
    position: absolute;
    top: -1000px;
}

a:focus { text-decoration: underline; }

abbr {
    display: inline-block;
    padding: 0 2px;
    border-bottom: 1px dotted gray;
    cursor: help;
}

noscript,
.comments-disabled {
    font-size: $small-font-size;
    text-align: center;
    padding: 3px;
    background: $message-background;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.site-nav .menu-icon svg path {
    fill: #ee7600;  //darkorange; //#a22; //Was: #151515;
}

.post-list a.more:after {
    content: "\2026";  //&hellip;
}

img[ src *= "open-media-player/badge.svg" ] {
    width: 240px; height: 140px;
    display: block;
    margin: 0 auto;
}

.post-content img[ src *= "shields.io" ] {
    width: 120px; height: 30px; // x 1.5;
}
.X-site-footer img[ src *= "shields.io" ] {
    width: 96px; height: 24px; // x 1.2;
}

.big_me {
    text-align: center;
    font-size: 1.3em;
}
.x-me {
    display: block;
    padding: 7px; //7px 0;
    //margin: 1.2em 0;
    margin: 23px 0;
    background: $message-background;
    border: 2px solid #ddd;
    border-radius: 6px;

    em {
        display: inline-block;
        margin-left: 3px;
        //font-style: normal;
        border-bottom: 2px solid transparent;
    }
}
.x-me:hover {
    text-decoration: none;
}
.x-me:hover em {
    //text-decoration: underline;
    border-color: gray;
    transition: $transition;
}

//[ href ^= javascript ] {outline:1px solid red}
//[ role = button ] {outline: 1px solid green}

#x-idc-comments-loading span,
#x-idc-comments-loading,
iframe {
    display: block;
    font-size: 1.1em;
    text-align: center;
    min-height: 90px;
    margin: 1em auto;
    border: 6px solid #eee;
    border-radius: 5px;
    //background: url(http://throbber.net/loader-large.gif);
    background: #eee url(/assets/loader-large.gif) no-repeat center;
    background-size: contain;
}
#x-idc-comments-loading {
    background-image: none;
}
#IDCommentsPostTitle,
#idc-container {
    display: none;
}

.no-js-local #x-idc-comments-loading span {
    background: none;
}

iframe[ src *= "books.google" ] {
    width: 500px;
    height: 500px;
}
iframe:hover, iframe:focus, a.x-me:hover {
    border-color: #ff6d00;  // darkorange;
    transition: $transition;
}


/* Open Media Player embeds / Bootstrap embeds.
*/
.embed-rsp.youtube,
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  //overflow: hidden;
  margin: 1em 0 2em;
}
.embed-rsp.youtube iframe,
.embed-responsive iframe,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //border: 0;
  margin: 0;
}
.embed-rsp.youtube,
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.post-content a img {
    outline: 2px solid #ccc;
    outline-offset: 5px;
}
a:hover img {
    outline: 2px solid darkorange;
    outline-offset: 5px;
    transition: $transition;
}

img[ src *= flickr ] {
    width: 92%;
    display: block;
    margin: 25px auto;
}
.flickr-embed-frame {
    display: none;
}

.site-footer .text i {
    display: block;
    margin: .5em 0;
}
.site-footer .text i a, a[ rel = license], a[ href *= mit-license ] {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.ex-site-message {
    font-size: 1.06em;
    padding: .6em 0;
    background: $message-background;
    border-bottom: 1px solid #ccc;
}
.ex-site-message:hover {
    background: #fff3f3;
    border-color: #999;
    transition: .7s;
}

.site-nav #toolbar-launch,
.site-nav .ex-custom-nav > * {
    display: inline-block;
    margin-left: 14px;
}


hr {
    //background: none;
    border: 1px solid #ccc;
    margin: 1em;
}

pre,
code {
    background-color: #f8f8ff;
    border-color: #ccc;
    padding: 5px;
}
p > code, li > code {
    padding: 2px;
    border-color: #ddd;
    font-size: 1em;
}

.post-content table {
    margin: 1em 0;
    width: 100%;
    border: 1px solid #ccc;
}
.post-content table td {
    padding: 8px;
}


/* IntenseDebate accessibility [Bug: #3][a11y]
*/
body #idc-container h3 {
    font-size: 1.4em; //22px;
}
body #idc-container h3[ aria-level ] {
    font-size: 1.8em;
}
body #idc-container textarea.idc-text_noresize {
    font-size: 1.1em;
    color: #111;
    max-width: 99%;
}

/*
 * End custom CSS.
 */
