/*!
 * CSE search.
 */

.XX-site-nav a[ href *= search ] {
    //display: none;
}

.wrapper > [ role = search ] {
    min-height: 24em;
    transition: all 1s;
}


.gsc-search-box-tools .gsc-search-box .gsc-input {
    font-size: 1.1em;
    color: #333;
}
body .gsc-input-box {
    border: 1px solid #888;
    border-radius: 4px;
    height: 1.95em;
}
body .gsc-control-cse {
    //background: #fbfbfb;
    background: transparent;
    padding: 10px 6px;
    border-color: #ccc;
    border-radius: 6px;
}
.gsc-adBlock iframe {
    border: none;
    background: none;
}

body .gsc-webResult.gsc-results,
body .gsc-webResult.gsc-result {
    //background: #fefefe;
    background: transparent;
}
body .gsc-tabHeader.gsc-tabhInactive {
    background: #f0f0f0;
}

.gsc-input-box .gsst_a .gscb_a {
    color: navy;
}
