/*!
 * CSE search.
 */

::-webkit-input-placeholder {
    //color: gray;
    color: #666;
    font-size: 13px;
    padding-top: 3px;
}
::-moz-placeholder {  // Firefox 19+
    color: #444;
    font-size: 13px;
    padding-top: 3px;
}

a[ href *= "opensearch.xml" ] {
    display: inline-block;
    margin: 2.4em 0 1em;
    padding: 2px 8px;
    background: #f8f8f8;
    color: navy;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.wrapper > [ role = search ] {
    min-height: 24em;
    transition: all 1s;
}

.search-empty input, .search-empty button,
.gsc-search-box-tools .gsc-search-box .gsc-input {
    font-size: 1.07em;
    color: #333;
}
body .gsc-input-box {
    border: 1px solid #888;
    border-radius: 4px;
    height: 1.95em;
}
body .gsc-control-cse {
    //background: #fbfbfb;
    background: transparent;
    padding: 10px 6px;
    border-color: #ccc;
    border-radius: 6px;
}
.gsc-adBlock iframe {
    border: none;
    background: none;
}

body .gsc-webResult.gsc-results,
body .gsc-webResult.gsc-result {
    //background: #fefefe;
    background: transparent;
}
body .gsc-tabHeader.gsc-tabhInactive {
    background: #f0f0f0;
}

.gsc-input-box .gsst_a .gscb_a {
    color: navy;
}

.search-empty input {
  min-width: 78%;
  max-width: 92%;
  padding: 2px;
  border-radius: 3px;
  margin-right: 4px;
}
