<!doctype html><html lang="en">

  {% include head.html %}

  <body class="{% if page.excerpt %} is-post-page {% else %} not-post-page {% endif %} {{ site.ex_bodyclass }}">

    {% include header.html %}

    <div class="page-content" role="main">
      <div class="wrapper">

        <div id="id-gaad-widget"></div>
        <div id="isad-widget" data-isad-widget='{ "point_bsa": true }'></div>

        {{ content }}
      </div>
    </div>

  {% unless page.x-redirect-url %}

    {% include footer.html %}
    {% include footer-javascript.html %}

  {% endunless %}
  </body>
</html>
