---
layout: default
---

{% assign is_post_page = true %}
{% assign slug = page.path | replace: '.md', '' | replace: '.html', '' %}
{% assign git_url = '/%X/master/%s' | replace: '%s', page.path | prepend: site.x-github-url %}

<div class="post" role="article">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% capture date_format %}{{ site.date_format | default: "%b %-d, %Y" }}{% endcapture %}
      {{ page.date | date: date_format }}
      {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      {% if page.x-source %} • <a href="{{ page.x-source }}" rel=nofollow title="Original post – comments: {{ page.x-comment-cnt | default: "0" }}">legacy</a>{% endif %}
      • <a href="{{ git_url | replace: '%X', 'blob' }}" title="On GitHub">post source<i class="sr-only"> on GitHub</i></a></span>
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


{% if site.ex_comments %}
  <noscript>Sorry, comments require Javascript.</noscript>
  <div id="x-idc-comments-loading">Loading comments ...<span></span></div>
  <!--<div id="IDCommentsPostTitle">{{ page.title }}</div>-->
  <div id="{{ site.js_config.comment_div }}"></div>
{% else %}
  <p class="comments-disabled">Comments disabled.</p>
{% endif %}

</div>
