---
layout: default
---

{% assign is_post_page = true %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% capture date_format %}{{ site.date_fmt | default: "%b %-d, %Y" }}{% endcapture %}
      {{ page.date | date: date_format }}
      {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


{% if site.ex_comments %}
  <noscript>Sorry, comments require Javascript.</noscript>
  <div id="x-idc-comments-loading">Loading comments ...<span></span></div>
  <!--<div id="IDCommentsPostTitle">{{ page.title }}</div>-->
  <div id="{{ site.js_config.comment_div }}"></div>
{% else %}
  <p class="comments-disabled">Comments disabled.</p>
{% endif %}

</div>
